.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: #383b38;
    border-radius: 25px; /* 25px rounded corners */

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,2.5);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

 .mynav:hover{
      background-color:#026b1f;
      color: white;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5); 
  }
  .inc:hover{
    background-color:#026b1f;
      color: white;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5); 
  }
  .dec:hover{
    background-color:#bd0808;
      color: white;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5); 
  }
  .navbar{
    background-color: #4f9e64;
  }